<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand d-flex align-items-center" href="{{ path('app_main') }}">
        <img src="{{ asset('img/lampe.png') }}" width="70" height="70" class="d-inline-block" alt="">
        <h1 class="mb-0 ms-3 text-warning">Réalisez vos rêves !</h1>
    </a>
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg src class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-warning">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-warning">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                            Nouveau rêve
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-warning">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                            Rêves
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-warning">
                            <img src="{{ asset('img/profile_2274410.png') }}" width="24" height="24" class="bi d-block mx-auto mb-1" alt="">
                            Profil
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>





</nav>