{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Hello et bienvenue sur la page d'accueil ✅</h1>

    </div>
{% endblock %}